/*--- Theme Variables ---*/

:root {
  --background-color: #312c32;
  --header-color: #daad86;
  --header-font-color: #312c32;
  --footer-color: #daad86;
  --footer-font-color: #312c32;
  --panel-color: #ddd;
  --border-color: #312c32;
  --main-font-color: #312c32;
  --sidebar-color: #312c32;
  --sidebar-font-color: #ddd;
  --button-color: #98dafc;

  --main-font: 'Raleway', sans-serif;
  --accent-font: 'Lobster', cursive;
}

/*--- Box-Sizing Hack ---*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--- Whole Page, Mobile First ---*/

html {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  min-width: 18.75rem; /*equates to 300px with default font of 16px*/
  max-width: 60rem; /* equates to 1360px with default font of 16px */
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  background-color: var(--background-color);
  min-height: 100%;
  font-size: 1.0em; /* my fonts will scale as a multiplier of the user's browser default */
  font-family: var(--main-font);
  display: grid;  /*for layout using grid*/
  grid-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "main"
    "footer";
}

/*--- Header and Nav ---*/

header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 0;
  padding: 0.75rem 1.5rem;
  grid-area: header;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  color: var(--header-font-color);
}

#header-title {

  margin-right: auto;
  font-family: var(--accent-font);
  letter-spacing: 1.5px;
}

header h2 {
  float: none;
  margin: 0;
  font-family: var(--styled-font);
  color: var(--styled-font-color);
  /*text-align: center;*/
}

nav {
  float: right;
  padding: 0 0.5rem;
}

nav ul {
  padding: 0.5rem 0 0 0;
  margin: 0;
  font-size: 0.875em;
}

nav li {
  display: inline-block;
  padding: 0 1rem;
}

nav li + li {
  border-left: 1px solid var(--header-font-color);
}

/*--- Links ---*/

a, a:visited  {
  text-decoration: none;
  text-shadow: 4px 4px 4px #666;
  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
  text-shadow: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  text-shadow: none;
  color: inherit;
}

/*--- Sidebar ---*/

.sidebar {
  min-width: 12rem;
  padding: 0 1.5rem;
  grid-area: sidebar;
  background: var(--sidebar-color);
  color: var(--sidebar-font-color);
  text-align: center;
}

#inputForm {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}

#input {
  flex: 1;
  height: 2rem;
  text-align: center;
  align-self: center;
  border-radius: 20px;
  background-color: var(--panel-color)
}


.sidebar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 1rem 0;
  margin: 0;
}

.sidebar li {
  display: inline-block;
}

button {
  background-color: var(--button-color);
  color: var(--main-font-color);
  border-color: var(--panel-color);
  border-radius: 20px;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
}

button:focus, button:hover {
  background-color: var(--header-color);
}

/*--- Modal ---*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  font-family: var(--accent-font);
}

.modal-content {
  background: var(--header-color);
  color: var(--main-font-color);
  margin: 5rem auto 0 auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 80%;
  max-width: 40rem;
}

#modalImg {
  width: 100%;
}

#modalImg img {
  width: 100%;
}

#close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    text-decoration: none;
    cursor: pointer;
}

/*--- Main Content Area ---*/

main {
  min-width: 8rem;
  grid-area: main;
  background: var(--panel-color);
  color: var(--main-font-color);
  padding: 0 1.5rem 1.5rem 1.5rem;
}

#trkContainer{
  display: inline-table;
  height: 100%;
}

#button{
  width:50px;
}


#images {

  flex-flow: row nowrap;
  column-count: 2;
  column-gap: 0.5rem;
}


#trackUI {


  background-color: gray;
  height: auto%;

}

#instDiv{
  display:inline-grid;
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.track1:first-child {
  margin-left: 7px;
}
.track2:first-child {
  margin-left: 7px;
}
.track3:first-child {
  margin-left: 7px;
}
.track4:first-child {
  margin-left: 7px;
}

#osc{
  margin: 5px;
}

#volLbl{

  margin: 0px;
  padding: 0px;
}

h3 {

  text-align: center;

}
main img {
  display: inline-block;
  /*flex: 1 1 auto;*/
  width: 100%;
  /*margin-bottom: 1rem;*/
  border-radius: 1rem;
}

#imgDiv {
  /*padding: 4px;*/
  display:inline-table;
  margin: 4px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.rating {
  margin-top: 3px;
  margin-bottom: 6px;
  text-align: center;

}
/*--- Footer ---*/

footer {
  position: relative;
  color: var(--footer-font-color);
  background-color: var(--footer-color);
  grid-area: footer;
  border-top: 1px solid var(--border-color);
  font-size: 0.75rem;
  text-align: center;
  align-content: center;
  line-height: 2.5rem;
  bottom: 0;
}



/*--- Media Queries ---*/

@media (min-width: 37.5rem) {
  .container {
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header   header"
      "main  main"
      "main  main"
      "main  main"
      "footer   footer";
  }

  .sidebar li, button {
    width: 100%;
  }

  form {
    display: none;
  }

  #inputForm {
  display: block;
  }

  #input {
    width: 100%;
  }

  button {
    margin: 0.25rem 0;
  }

  #images {
    column-count: 3;
    column-gap: 0.5rem;
  }
}

@media (min-width: 56.25rem) {
  #trkContainer {
    column-count: 16;
  }
}
